# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Local config & OS files
.env
.DS_Store
Thumbs.db

# Local AI model weights & checkpoints
# models/*
models/distilbert-phishing/*
models/Qwen2.5-1.5B-Instruct/*

*.safetensors
*.bin

!models/distilbert-phishing/.gitkeep
!models/Qwen2.5-1.5B-Instruct/.gitkeep

# Ignore emails in spool and test directories
inbox_spool/*
!inbox_spool/.gitkeep

test_emails/*
!test_emails/.gitkeep

Case Reports/*
!Case Reports/.gitkeep

# SQLite Databases
*.db
*.sqlite3